<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 sticky-top">
    <a class="navbar-brand">Get Set Chat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >Back</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>Signup Here</h1>
    <form #signUpForm="ngForm" (ngSubmit)="signUp()">
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" id="fname" class="form-control" name="fname" placeholder="like : Raman"  [(ngModel)]="user_firstname" required autofocus>
        </div>

        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" id="lname" class="form-control" name="lname"  [(ngModel)]="user_lastname" required>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email"  [(ngModel)]="user_email" required>
        </div>

        <div class="form-group">
            <label for="blogDescription">Mobile No.</label>
            <input type="number" class="form-control" name="blogDescription" [(ngModel)]="user_mobile_num" required>
        </div>

        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" name="pwd" id="pwd" [(ngModel)]="user_password" required>
        </div>

        <div class="form-group">
            <label for="apikey">Api key</label>
            <input class="form-control" name="apikey" id="apikey" type="text" [(ngModel)]="user_apikey" required>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>
</div>